@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --primary-purple: #5530EF;
    --light-purple: #E047AC;
    --dark-green: #3C6831;
    --grey: #E5E5E5;
    --smoke-white: #f5f5f5;
    --text-color: #47453F;
    --header-height: 100px;
    --purple-box-shadow: 3px 2px 10px var(--light-purple);
    --multiple-box-shadow: rgba(240, 46, 170, 0.4) 5px 5px,
        rgba(240, 46, 170, 0.3) 10px 10px,
        rgba(240, 46, 170, 0.2) 15px 15px,
        rgba(240, 46, 170, 0.1) 20px 20px,
        rgba(240, 46, 170, 0.05) 25px 25px;
    --neumorphic: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    --grey-box-shadow: 0px 8px 15px var(--grey);
}

/* General CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--smoke-white);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


.btn {
    background-color: var(--primary-purple);
    color: var(--smoke-white);
    padding: 10px 25px;
    text-transform: capitalize;
    font-size: 16px;
    box-shadow: var(--grey-box-shadow);
    outline: none;
    border: none;
    transition: 2s;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .2rem;
}

.btn-small{
    font-size: 12px;
    padding: 5px 15px;
}

.btn-trans {
    color: var(--smoke-white);
    background: linear-gradient(45deg, blueviolet, deeppink);
    ;
    border-top: 3px solid rgb(85, 48, 239, 0.2);
}

.btn:hover {
    border-top: 3px solid rgb(85, 48, 239, 0.2);
    transform: translateX(5px);
}

.btn-trans:hover { 
    color: var(--smoke-white);
    transform: translateX(5px);
}

/* Header */

.navbar{
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    background: linear-gradient(45deg, blueviolet, deeppink);
    font-weight: bold;
}
 .open-menu,  .close-menu {
    display: none;
 }

.logo{
    display: flex;
}

.logo a {
    margin-left: 50px;
    color: whitesmoke;
    font-size: 30px;
    align-items: center;
    align-self: center;
}

.nav-group {
    display: flex;
    align-self: center;
}

.nav-item{
    padding:  0 40px;
}

.nav-item .nav-link{
    color: var(--smoke-white);
    text-transform: capitalize;
    font-size: 18px;
    transition: .2s;
}

.nav-item .nav-link:hover{
 color: var(--grey);
 background-color: #000;
 padding: 10px 15px;
}
.logout{
    display: flex;
    margin-right: 50px;
}
.logout a{
    color: var(--smoke-white);
    text-transform: capitalize;
    align-self: center;
    font-size: 18px;
    transition: 2s;
}

.logout a:hover{
    color: var(--grey);
    background-color: #000;
    padding: 10px 15px;
}

/* Main */

.main{
    min-height: 80vh;
    padding: 3rem;
    display: flex;
    justify-content: center;
}

.content-section{
    display: flex;
    width: 90%;
    justify-content: center;
    
}

.container{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 4rem;
}

.content-1, .content-2{
    display: flex;
    flex-direction: column;
}
.content-1{
    width: 50%;
   
}

.content-2{
    width: 40%;
}

.content-1 h3{
    align-self: flex-start;
    color: var(--primary-purple);
    font-size: 24px;
    margin-left: 20px;
}

.transaction-form{
    align-self: flex-start;
    width: 100%;
}

.form-group{
    display: block;
    width: 80%;
    margin: 20px
}

.form-group.twin{
    display: flex;
    gap: 4rem;
}
.form-group.twin div{
    width: 100%;
}

.form-group label{
    position: absolute;
    color: grey;
    margin-left: 5px; 
    font-size: 18px;
}
.input-group input{
    width: 100%;
    height: 60px;
    border: none;
    font-size: 16px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 5px;
}

.input-group i{
    position: absolute;
    font-size: 20px;
    color: grey;
    margin-top: 20px;
    margin-left: -30px;
}

.form-group.twin .input-group input{
    width: 100%;
} 

.pot-box{
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-top: 3rem;
    width: 80%;
    margin-bottom: 2rem;
}

.pot-box .fade{
    color:grey;
    margin-bottom: 20px;
    margin-left: 30px;
}

.pot-box p {
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.pot-box span{
    font-size: 12px;
    color: gray;
    margin-bottom: 20px;
    margin-left: 30px;
}

.btn-group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    gap: 2rem;
    justify-items: center;
}

.empty-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 80%;
    margin-top: 3rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    font-size: 18px;
    font-weight: 600;
}

.empty-box i{
    margin-right: 5px;
    font-size: 18px;
    font-weight: 600;
}

.circle-3 {
    display: flex;
    justify-content: space-around;
}

.circle{
    height: 70px;
    width: 70px;
    background-color: var(--primary-purple);
    border-radius: 100%;
}

.circle i{
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 30px;
    color: whitesmoke;
}

.circle-container p{
    font-size: 14px;
    color: var(--primary-purple);
    margin-top: 20px;
    text-align: center;
}

.circle-4{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

.circle-4 h4{
    color: var(--primary-purple);
    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 20px;
}
.circle-4-container{
    display: flex;
    justify-content: space-around;
}

.circle.one{
    background: #E047AC;
}

.circle.two {
    background: #8d6e31;
}

.circle.three {
    background: #a8a0a0;
}

.circle.four {
    background: var(--dark-green);
}
.circle-container .text{
    color: #000;
    font-weight: bold;
    text-align: center;
}

.recent-activity{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2rem;
}

.recent-activity .transaction{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    border-bottom: 1px solid var(--grey);
}

.activity-item p {
    color: var(--primary-purple);
}

.activity-item span{
    color: gray;
    font-size: 12px;
}


/* Account Info page */

.personal-info{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.personal-info h3 {
    color: var(--primary-purple);
}

.personal-info .card{
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.personal-info .card .card-item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.personal-info .card .card-item div:nth-child(1){
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}

.personal-info .card .card-item div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.personal-info .card .card-item div:nth-child(1) p {
    color: var(--primary-purple);
    font-weight: bold;
}

.personal-info .card .card-item div:nth-child(1) span {
    color: grey;
    font-weight: bold;
    font-size: 14px;
}

.personal-info .clear{
    align-self: flex-start;
}

.contact-details{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-details .card{
    display: flex;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    gap: 3rem;
}

.contact-details .card .card-item{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-details .card .card-item h4{
    color: var(--primary-purple);
}

.contact-details .card .card-item p{
    color: grey;
}

.contact-details .card:nth-child(1) .card-item:nth-child(2) a,
.contact-details .card:nth-child(3) .card-item:nth-child(2) a {
    margin-left: 50px;
}

/* Send Money Page */

.send-main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.send-card{
    width: 60%;
    display: flex;
    box-shadow: rgb(44, 62, 80) -15px 0px 15px -15px,
      rgb(44, 62, 80) 15px 0px 15px -15px;
    padding: 30px;
}

.send-card .form-group{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
}
.send-card .form-group p {
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

.send-card .form-group input{
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px 0px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px 0px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px 0px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px 0px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px 0px;
    cursor: pointer;
}

.send-card .flag-group {
      width: 40%;
      display: flex;
      align-items: center;
      height: 40px;
      margin-top: 50px;
}


/*Add to pot*/

.account-balance{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.account-balance .action{
    display: flex;
    justify-content: center;
}

.card-info .card{
    width: 100%;
    display: flex;
    gap: 1.2rem;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px 0px;
    margin-bottom: 2rem;
    padding: 30px;
}

.card-info .card p:nth-child(1){
    color: var(--primary-purple);
    font-weight: 600;
}

.card-info .card p:nth-child(2) {
    color: #000;
    font-weight: 600;
}

.card-info .card span {
    color: grey;
    font-size: 16px;
    font-weight: 400;
}

.debit-card-details{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.container .card-container {
    position: relative;
    height: 250px;
    width: 400px;
}

.container .card-container .front {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, blueviolet, deeppink);
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
    padding: 20px;
    transform: perspective(1000px) rotateY(0deg);
    transition: transform .4s ease-out;
}

.container .card-container .front .image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.container .card-container .front .image img {
    height: 50px;
}

.container .card-container .front .card-number-box {
    padding: 30px 0;
    font-size: 22px;
    color: #fff;
}

.container .card-container .front .flexbox {
    display: flex;
}

.container .card-container .front .flexbox .box:nth-child(1) {
    margin-right: auto;
}

.container .card-container .front .flexbox .box {
    font-size: 15px;
    color: #fff;
}

.debit-card-details .card{
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
.debit-card-details .card p{
    color: #000;
    font-weight: 600;
}

.debit-card-details .card span{
    color: grey;
}

.debit-card-details .btn-group{
    width: 90%;
}

.debit-card-details .btn-group .btn{
    display: flex;
    align-items: center;
    gap: .2rem;
}

/*Activities */
.content-section{
    width: 60%;
}

.activity-container{
    display:  flex;
    flex-direction: column;
    width: 100%;
}

.head-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding:20px;
}

.head-grid .date{
    display: grid;
    gap: 0.5rem;
    padding: 1rem;
    font-size: 16px;
    font-weight: 600;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px 0px;

}

.head-grid .date span{
    color: grey;
    font-weight: 500;
}

.head-grid .search{
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.head-grid .search input{
    width: 80%;
    height: 30px;
    font-size: 16px;
    padding: 5px;
    border: .5px solid grey;
}

.head-grid .search i {
    position: absolute;
    margin-right: 5px;
    font-size: 30px;
    color: grey;
}

.activity-container .recent-activity{
    width: 100%;
}

.activity-container .recent-activity .transaction:nth-child(1) .activity-item p {
    color: #000;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 1rem;
}

/* Help Page */
.help-section{
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    gap: 2rem
}
.help-section h3{
    color: var(--primary-purple);
}
.help-container{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.help-group li {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px
}

.help-action-group li {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px
}

/* footer */
.footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    padding: 20px;
    background: linear-gradient(45deg, blueviolet, deeppink);
    
}

.footer-group{
    display: flex;
    justify-content: center;
}

.footer-group .footer-item{
    color: var(--smoke-white);
    margin: 20px 50px 5px;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 16px;
}

.footer .copy{
    color: var(--smoke-white);
}